<br>
<h1 class="display-4 mt-5 ml-5 d-inline">Team: <%=@team.name%></h1>
<% if has_section_html(@team.project.section.id) || is_student_in_section(current_user, @team.project.section) #is_student_on_team(current_user, @team) %>
  <%= link_to 'Edit Team' , edit_team_path(@team), class: "btn btn-danger float-right mt-5 mr-5"%>
<% end %>
<% if is_instructor_html || has_section_html(@team.project.section.id) %>
    <%= link_to "Delete Team", remove_team_path(@team), class: "btn btn-danger float-right mt-5 mr-5" %>
<% end %>

<br>
<%= link_to 'Back', section_projects_path(@team.project.section), id: 'back', :class => "btn btn-warning mt-3 ml-5"%>
<br>

<div class="container text-center">
  <div class="card d-inline-block ml-4 mt-4 text-center w-75">
    <div class="card-header">
      <h5 class="card-title">Team members</h5>
    </div>
    <div class="card-body">
      <% if @team.students.empty? %>
        <p>No team members</p>
      <% else %>
        <% @team.students.each do |student| %>
          <p class="mt-2"><%= student.name %> : (<%= student.email %>)</p><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="card d-inline-block ml-2 mt-4 text-center" style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Version Control</h5>
    </div>
    <div class="card-body">
       <a href=<%= @team.version_control_link %> target="_blank"><%= @team.version_control_link %></a>
    </div>
  </div>
  
  <div class="card d-inline-block ml-2 mt-4 text-center" style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Production Site</h5>
    </div>
    <div class="card-body">
       <a href=<%= @team.production_link %> target="_blank"><%= @team.production_link %></a>
    </div>
  </div>
  
  <div class="card d-inline-block ml-2 mt-4 text-center" style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Management Tracker</h5>
    </div>
    <div class="card-body">
       <a href=<%= @team.management_link %> target="_blank"><%= @team.management_link %></a>
    </div>
  </div>
  
  <div class="card d-inline-block ml-2 mt-4 text-center" style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Scrum Details</h5>
    </div>
    <div class="card-body">
       <a class="disabled"><strong>Location:</strong> <%= @team.scrum_location %></a>
       <a class="disabled"><strong>Time:</strong> <%= @team.scrum_time.strftime("at %I:%M%p") %></a>
      </div>
  </div>
  
  
</div>

<div class="container text-center">
  
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
</style>



<body>



<% if is_instructor_html() %>


<h2> iterations</h2>
<% @team.iterations.each.with_index do |iters,index| %>
<table style="width:100%">

    <tr>
      
        <th><%= label_tag "Iteration #{index} Status: " %>
       
             <%= iters.status %>
           
        </th>
        <th><%= label_tag "Comments: " %>
            <a class="disabled"> <%= iters.comments %></a>
        </th>
        <th>
            <%= label_tag "Created at: " %>
            <a class="disabled"> <%= iters.created_at %></a>
        </th>
        <th>
            <%= label_tag "Last updated at: " %>
            <a class="disabled"> <%= iters.updated_at %></a>
        </th>
        
   </tr>
</table>
<% end %>

<h2> Add a iteration </h2>
<%= form_with(model: [ @team, @team.iterations.build ], local: true) do |form| %>
  <!--<p>
    <%= form.label :status %><br>
     <%= form.select(:status, options_for_select([['submitted', 'submitted'], ['missing', 'missing']])) %>
  </p>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :comments %>
  </p>
  -->
  <p>
    <%= form.submit %>
  </p>
<% end %>

<% end %>


</body>


<% else if is_student_on_team(current_user, @team) %>

<table style="width:100%">
 <%= form_tag  iter_path, :method => "post" do |form| %> 
 
   <tr>
       <th><%= label_tag "Iteration 1 Status: " %>
       <a class="disabled"> <%= @team.status1 %></a>
       </th>
      <th><%= label_tag "Iteration 2 Status: " %>
       <a class="disabled"> <%= @team.status2 %></a>
       </th>
       <th><%= label_tag "Iteration 3 Status: " %>
       <a class="disabled"> <%= @team.status3 %></a>
       </th>
       <th><%= label_tag "Iteration 4 Status: " %>
       <a class="disabled"> <%= @team.status4 %></a>
       </th>
   </th>
   </tr>
 
  <tr>
   
   <th>
   <a class="disabled"> <%= @team.iteration1 %></a>
   </th>
   <th>
   <a class="disabled"> <%= @team.iteration2 %></a>
   </th>
    <th>
      <a class="disabled"> <%= @team.iteration3 %></a>
   </th>
     <th>
      <a class="disabled"> <%= @team.iteration4 %></a>
   </th>
 </tr>
 

  
</table>
<% end %>
<% end %>



