<%= link_to 'Back', home_path, id: 'cancel' , :class => "btn btn-danger mt-3 ml-5"%>

<div class="jumbotron w-50 mx-auto">
  <%= form_for @student, html: { id: "submit" } do |f| %>
  
    <%= render 'layouts/error', object: @student, as: 'object' %>
    
    <% if params[:action] == "new" %>
      <%= f.hidden_field :name, :id => "form_name", :class => "form-control" %>
      
      <%= f.hidden_field :email, :id => "form_email", :class => "form-control" %>
        
      <html lang="en">
        <head>
          <meta name="google-signin-scope" content="profile email">
          <meta name="google-signin-client_id" content="30443356246-e47qs90nbtlkfc0uf12hdfl77fkl9rb1.apps.googleusercontent.com">
          <script src="https://apis.google.com/js/platform.js" async defer></script>
        </head>
        <body>
          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style=margin-top:20px></div>
          <script>
          
            function onSignIn(googleUser) {
              var profile = googleUser.getBasicProfile();
              // The ID token you need to pass to your backend:
              // var id_token = googleUser.getAuthResponse().id_token;
              
              document.getElementById('form_name').value = profile.getName();
              document.getElementById('form_email').value = profile.getEmail();
              document.getElementById('submit').submit();
              
              // Sign out after submitting form to fix redirect loop
              gapi.auth2.getAuthInstance().signOut();
            }
          </script>
        </body>
      </html>
      <br>
    <% end %>
    <% if params[:action] == "edit" %>
        <%= label_tag :name %>
        <%= f.text_field :name , :class => "form-control" %>
        
        <%= label_tag :email , nil, :class => "mt-4" %>
        <%= f.text_field :email , :class => "form-control" %>
      <%= render "layouts/confirm_update", object: @student, as: 'object' %>
    <% end %>
  <% end %>
</div>