<br>
<%= link_to 'Back', team_path(@team), id: 'back', :class => "btn btn-warning mt-3 ml-5"%>
<br>

<h2> Add a iteration </h2>
<%= form_with(url: iterations_update_path(@team,@iteration), model: @iteration, local: true) do |form| %>
  <p>
    <%= form.label :status %><br>
     <%= form.select(:status, options_for_select([['submitted', 'submitted'], ['missing', 'missing'],['Not submitted','Not submitted']])) %>
  </p>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :comments %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>
