<p id="notice"><%= notice %></p>

<p>
  <strong>Iteration1:</strong>
  <%= @progresstable.iteration1 %>
</p>

<p>
  <strong>Iteration2:</strong>
  <%= @progresstable.iteration2 %>
</p>

<p>
  <strong>Iteration3:</strong>
  <%= @progresstable.iteration3 %>
</p>

<%= link_to 'Edit', edit_progresstable_path(@progresstable) %> |
<%= link_to 'Back', progresstables_path %>
